<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Player</title>
    <link rel="stylesheet" href="styles/player.css">
</head>
<body>
<div id="player"></div>
<div id="controls">
    <h2>{{title}}</h2>
    <div id="other-controls">
        <input type="range" id="volume" onchange="player.setVolume(this.value)">
        <button id="pause" onclick="pausePlay()">⏸</button>
        <span>{{currentTime}}/{{totalTime}}</span></div>
    <div id="loading-bar">
        <div id="loaded" v-bind:style="{width: progress}"></div>
    </div>
</div>
<div id="searcher">
    <label>
        Search:
        <input type="text" v-model="query">
    </label>
    <button v-on:click="search">Search video</button>
    <div class="result">
        <div class="list">
            <ul>
                <li v-for="result in results">
                    <img v-bind:src="result.snippet.thumbnails.default.url"
                         v-on:click="play(result.id.videoId)">
                    Title: {{result.snippet.title}}
                </li>
            </ul>
        </div>
        <div class="related">
            <ul>
                <li v-for="result in related">
                    <img v-bind:src="result.snippet.thumbnails.default.url">
                    Title: {{result.snippet.title}}
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    String.prototype.toHHMMSS = function () {
        const sec_num = parseInt(this, 10); // don't forget the second param
        let hours = Math.floor(sec_num / 3600);
        let minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        let seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours < 10) {
            hours = "0" + hours;
        }
        if (minutes < 10) {
            minutes = "0" + minutes;
        }
        if (seconds < 10) {
            seconds = "0" + seconds;
        }
        return hours + ':' + minutes + ':' + seconds;
    };

    let p = require('./player');
    let player = p.player;

    async function pausePlay() {
        if (await p.player.getPlayerState() === 1) {
            p.player.pauseVideo();
        } else if (await p.player.getPlayerState() === 2) {
            p.player.playVideo();
        }
    }

    async function updateLoadBar() {
        let current = await player.getCurrentTime();
        let total = await player.getDuration();
        p.controls.progress = total === 0 ? "0%" : ((current / total) * 100) + "%";
        p.controls.currentTime = (current + "").toHHMMSS();
        p.controls.totalTime = (total + "").toHHMMSS();
    }


    setInterval(updateLoadBar, 250);
</script>
</html>
